@page "/"
@using StudiBloc3_Mercadona.Model
@inherits HomeBase

<PageTitle>Mercadona</PageTitle>

<h1>
    <img class="app-logo" src="mercadonaLogo.png" alt="mercadona_logo.png image"/>
</h1>

<h2>Products</h2>

<div>
    <SfComboBox Width="200px" TValue="string" TItem="Category" Placeholder="Select a category" DataSource="@Categories" @bind-Index="@CurrentIdxNewProduct">
        <ComboBoxFieldSettings Value="Id" Text="Name"></ComboBoxFieldSettings>
    </SfComboBox>
    
    <SfTextBox Width="200px" Placeholder="Name" @bind-Value="@NewProduct.Name"></SfTextBox>
    <SfTextBox Width="200px" Placeholder="Description" @bind-Value="@NewProduct.Description"></SfTextBox>
    <SfNumericTextBox TValue="float" Width="200px" Placeholder="Price" @bind-Value="@NewProduct.Price"></SfNumericTextBox>
    
    <SfUploader AutoUpload="true">
          <UploaderEvents ValueChange="@OnChange"></UploaderEvents>
    </SfUploader>
    
    @* <InputFile OnChange="HandleFileSelect"/> *@
    <button @onclick="HandleSubmit">Add Product</button>
    <button @onclick="TEST">TEST</button>
</div>

<div class="products-container">
    @foreach (var product in Products)
    {
        <div class="product-card">

            @if (product.Image is not null)
            {
                <img class="product-image" src="@ImageDataUrl(product.Image)" alt="@product.Name image" width="300px"/>
            }
            else
            {
                <img class="product-image" src="null.png" alt="null image" width="300px"/>
            }

            <h3>@product.Name</h3>
            <p>@product.Description</p>
            <p>@product.CategoryId</p>
            <p>@product.Price</p>

        </div>
    }
</div>