@page "/"
@using StudiBloc3_Mercadona.Model
@inherits HomeBase

<PageTitle>Mercadona</PageTitle>

<h1>
    <img class="app-logo" src="resources/Img/mercadona-title.png" alt="mercadona_logo.png image"/>
</h1>

@* New product ___________________________ *@
<div class="header-bar">
    
    @* Filter by Category *@
    <SfComboBox CssClass="category-filter" TItem="Category" TValue="string" DataSource="@Categories" Placeholder="Sélectionner une catégorie"
                AllowCustom="false" AllowFiltering="false" ValueChanged="OnSfComboBoxSelectCategoryChanged">
        <ComboBoxFieldSettings Text="Name" Value="Id"></ComboBoxFieldSettings>
    </SfComboBox>
    
    <div style="margin: 0 15px 0 15px"></div>

    @* Button for showing popup of new product creation *@
    <SfButton @onclick="@OpenNewProductPopup">Ajouter un produit</SfButton>

</div>

@* Catalog ___________________________ *@
<div class="products-container">

    @foreach (var product in FilteredProducts)
    {
        var productInstance = product;
        var categoryName = GetProductCategoryName(product);
        var discountedPrice = CalculateDiscountedPrice(product);

        <div class="product-card">

            @if (product.Image is not null)
            {
                <img class="product-image" src="@ImageBytesToImageDataUrl(product.Image)" alt="@product.Name image"/>
            }
            else
            {
                <img class="product-image" src="resources/Img/null.png" alt="null image"/>
            }

            <div class="product-name">
                <h3>@product.Name</h3>
                <p>&nbsp;-&nbsp;@categoryName</p>
            </div>
            
            <p class="product-description">@product.Description</p>
            
            <div class="product-card___info">
                
                @if (discountedPrice is not null)
                {
                    <div class="new-product-pricing">
                        <p class="new-product-price">@discountedPrice.Value.discountedPrice.ToString("F2")€</p>
                        <p class="old-product-price">@product.Price.ToString("F2")€</p>
                        <div class="discount-value">
                            <p>-@Math.Round((1 - discountedPrice.Value.discountedPrice / discountedPrice.Value.originalPrice) * 100).ToString("F0")%</p>
                        </div>
                    </div>

                    @* Button for showing popup of editing product promotion creation *@
                    <div class="button-new-item___container">
                        <SfButton CssClass="button-new-item" @onclick="() => OpenNewProductPromotionsPopup(productInstance)">Modifier la promotion</SfButton>
                    </div>
                }
                else
                {
                    <p class="product-price">@product.Price.ToString("F2")€</p>

                    @* Button for showing popup of new product promotion creation *@
                    <div class="button-new-item___container">
                        <SfButton CssClass="button-new-item" @onclick="() => OpenNewProductPromotionsPopup(productInstance)">Ajouter une promotion</SfButton>
                    </div>
                }
            </div>

        </div>
    }

</div>

@* Dialogs ___________________________ *@
<div>
    
    @* Dialog for creating a new product *@
    <SfDialog Width="35%" ShowCloseIcon="true" IsModal="true" @bind-Visible="@NewProductPopupIsVisible">
        <DialogTemplates>

            <Header> Ajouter un produit </Header>

            <Content>
                <div class="sfpopup-content">

                    @* Combobox Category *@
                    <SfComboBox @ref="@SfComboBoxNewCategory" TValue="string" TItem="Category"
                                Placeholder="Choisir une catégorie..." DataSource="@Categories" ValueChanged="OnSfComboBoxCategoryChanged"
                                AllowCustom="true" AllowFiltering="true">
                        <ComboBoxFieldSettings Value="Id" Text="Name"></ComboBoxFieldSettings>
                        <ComboBoxEvents TValue="string" Filtering="@OnSfComboBoxCategoryFiltering" TItem="Category"></ComboBoxEvents>
                        <ComboBoxTemplates TItem="Category">
                            <NoRecordsTemplate>

                                <div>
                                    <p>Catégorie non trouvée, voulez-vous la créer ?</p>
                                    <SfButton class="e-control e-btn" style="margin-top: 10px" @onclick="@CreateNewCategory">Créer</SfButton>
                                </div>

                            </NoRecordsTemplate>
                        </ComboBoxTemplates>
                    </SfComboBox>

                    <SfTextBox Placeholder="Nom..." @bind-Value="@NewProduct.Name"></SfTextBox>
                    <SfTextBox Placeholder="Description..." @bind-Value="@NewProduct.Description"></SfTextBox>
                    <SfNumericTextBox TValue="float" Placeholder="Prix (€)..." @bind-Value="@NewProduct.Price"></SfNumericTextBox>

                    @* Image selector *@
                    <SfUploader AutoUpload="true" AllowMultiple="false" TValue="byte[]" AllowedExtensions=".png, .jpg, .jpeg">
                        <UploaderEvents ValueChange="@OnSfUploaderNewProductImageChanged"></UploaderEvents>
                    </SfUploader>

                    <SfButton @onclick="@NewProductSubmit">Ajouter le produit</SfButton>

                </div>
            </Content>

        </DialogTemplates>
    </SfDialog>

    @* Dialog for creating a new product promotion *@
    <SfDialog Width="35%" ShowCloseIcon="true" IsModal="true" @bind-Visible="@NewProductPromotionsPopupIsVisible">
        <DialogTemplates>

            <Header> Ajouter une promotion </Header>

            <Content>
                <div class="sfpopup-content">

                    <SfComboBox @ref="@SfComboBoxNewPromotion" TValue="int" TItem="Promotion"
                                Placeholder="Choisir une promotion..." DataSource="@Promotions" ValueChanged="OnSfComboBoxPromotionChanged"
                                AllowCustom="true" AllowFiltering="true">
                        <ComboBoxFieldSettings Value="Id" Text="DiscountPercentage"></ComboBoxFieldSettings>
                        <ComboBoxEvents TValue="int" Filtering="@OnSfComboBoxPromotionFiltering" TItem="Promotion"></ComboBoxEvents>
                        <ComboBoxTemplates TItem="Promotion">
                            <NoRecordsTemplate>

                                <div>
                                    <div>Promotion non trouvée, voulez-vous la créer ?</div>
                                    <SfButton class="e-control e-btn" style="margin-top: 10px" @onclick="@CreateNewPromotion">Créer</SfButton>
                                </div>

                            </NoRecordsTemplate>
                        </ComboBoxTemplates>
                    </SfComboBox>

                    <SfDatePicker TValue="DateTime" @bind-Value="@NewProductPromotionStartDate" Min="@DateTime.Today"></SfDatePicker>
                    
                    <SfDatePicker TValue="DateTime" @bind-Value="@NewProductPromotionEndDate" Min="@DateTime.Today"></SfDatePicker>
                    
                    <SfButton @onclick="@NewProductPromotionSubmit">Ajouter la promotion</SfButton>

                </div>
            </Content>
            
        </DialogTemplates>
    </SfDialog>

</div>

<style>
    .category-filter {
    min-width: 150px;
    max-width: 250px;
    }

    .button-new-item {
        height: 40px;
        width: 300px;
        font-size: 1.2em;
        margin: 0;
        padding: 0;
    }
</style>
