@page "/"
@using StudiBloc3_Mercadona.Model
@inherits HomeBase

<PageTitle>Mercadona</PageTitle>

<h1>
    <img class="app-logo" src="mercadonaLogo.png" alt="mercadona_logo.png image"/>
</h1>

<h2 id="target">Products</h2>

<SfButton @onclick="@OpenNewProductPopup">Ajouter un produit</SfButton>

<SfDialog Width="35%" ShowCloseIcon="true" IsModal="true" @bind-Visible="@NewProductPopupIsVisible">
    <DialogTemplates>
        <Header> Ajouter un produit </Header>
        <Content> 
            <div class="new-product-popup-content">
                <SfComboBox TValue="string" TItem="Category" Placeholder="Select a category" DataSource="@Categories" ValueChanged="OnSfComboBoxCategoryChanged">
                    <ComboBoxFieldSettings Value="Id" Text="Name"></ComboBoxFieldSettings>
                </SfComboBox>
            
                <SfTextBox Placeholder="Name" @bind-Value="@NewProduct.Name"></SfTextBox>
                <SfTextBox Placeholder="Description" @bind-Value="@NewProduct.Description"></SfTextBox>
                <SfNumericTextBox TValue="float" Placeholder="Price" @bind-Value="@NewProduct.Price"></SfNumericTextBox>
            
                <SfUploader AutoUpload="true" AllowMultiple="false" TValue="byte[]" AllowedExtensions=".png, .jpg, .jpeg">
                    <UploaderEvents ValueChange="@HandleFileSelect"></UploaderEvents>
                </SfUploader>
            
                <button @onclick="HandleSubmit">Add Product</button>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>

<div class="products-container">
    @foreach (var product in Products)
    {
        <div class="product-card">

            @if (product.Image is not null)
            {
                <img class="product-image" src="@ImageDataUrl(product.Image)" alt="@product.Name image" width="300px"/>
            }
            else
            {
                <img class="product-image" src="null.png" alt="null image" width="300px"/>
            }

            <h3>@product.Name</h3>
            <p>@product.Description</p>
            <p>@product.CategoryId</p>
            <p>@product.Price</p>

        </div>
    }
</div>