@page "/"
@using StudiBloc3_Mercadona.Model
@inherits HomeBase

<PageTitle>Mercadona</PageTitle>

<h1>
    <img class="app-logo" src="mercadonaLogo.png" alt="mercadona_logo.png image"/>
</h1>

<h2 id="target">Products</h2>

<div class="button-new-product-container">
    <SfButton CssClass="button-new-product" @onclick="@OpenNewProductPopup">Ajouter un produit</SfButton>
    <style>
        .button-new-product {
            height: 40px;
            width: 300px;
            font-size: 1.2em;
            margin: 0;
            padding: 0;
        }
    </style>
</div>

<SfDialog Width="35%" ShowCloseIcon="true" IsModal="true" @bind-Visible="@NewProductPopupIsVisible">
    <DialogTemplates>
        <Header> Ajouter un produit </Header>
        <Content> 
            <div class="new-product-popup-content">
                <SfComboBox @ref="@SfComboBoxNewCategory" TValue="string" TItem="Category" Placeholder="Select a category" DataSource="@Categories" ValueChanged="OnSfComboBoxCategoryChanged" AllowCustom="true" AllowFiltering="true">
                    <ComboBoxFieldSettings Value="Id" Text="Name"></ComboBoxFieldSettings>
                    <ComboBoxEvents TValue="string" Filtering="@OnSfComboBoxCategoryFiltering" TItem="Category"></ComboBoxEvents>
                        <ComboBoxTemplates TItem="Category">
                            <NoRecordsTemplate>
                                <div>
                                    <div id="nodata">Catégorie inconnue, voulez vous la créer ?</div>
                                    <SfButton id="btn" class="e-control e-btn" style="margin-top: 10px" @onclick="@CreateNewCategory">Créer</SfButton>
                                </div>
                            </NoRecordsTemplate>
                        </ComboBoxTemplates>
                </SfComboBox>
            
                <SfTextBox Placeholder="Name" @bind-Value="@NewProduct.Name"></SfTextBox>
                <SfTextBox Placeholder="Description" @bind-Value="@NewProduct.Description"></SfTextBox>
                <SfNumericTextBox TValue="float" Placeholder="Price" @bind-Value="@NewProduct.Price"></SfNumericTextBox>
            
                <SfUploader AutoUpload="true" AllowMultiple="false" TValue="byte[]" AllowedExtensions=".png, .jpg, .jpeg">
                    <UploaderEvents ValueChange="@HandleFileSelect"></UploaderEvents>
                </SfUploader>
            
                <button @onclick="HandleSubmit">Add Product</button>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>

<div class="products-container">
    @foreach (var product in Products)
    {
        <div class="product-card">

            @if (product.Image is not null)
            {
                <img class="product-image" src="@ImageDataUrl(product.Image)" alt="@product.Name image" width="300px"/>
            }
            else
            {
                <img class="product-image" src="null.png" alt="null image" width="300px"/>
            }

            <h3>@product.Name</h3>
            <p>@product.Description</p>
            <p>@product.CategoryId</p>
            <p>@product.Price</p>
            
            <div class="button-new-product-container">
                <SfButton CssClass="button-new-product" @onclick="@OpenNewProductPromotionsPopup">Ajouter une promotion</SfButton>
                <style>
                    .button-new-product {
                        height: 40px;
                        width: 300px;
                        font-size: 1.2em;
                        margin: 0;
                        padding: 0;
                    }
                </style>
            </div>
            
            <SfDialog Width="35%" ShowCloseIcon="true" IsModal="true" @bind-Visible="@NewProductPromotionsPopupIsVisible">
                <DialogTemplates>
                    <Header> Ajouter une promotion </Header>
                    <Content> 
                        <div class="new-product-popup-content">
                            <SfComboBox @ref="@SfComboBoxNewPromotions" TValue="int" TItem="Promotion" Placeholder="Select a promotion" DataSource="@Promotions" ValueChanged="OnSfComboBoxPromotionChanged" AllowCustom="true" AllowFiltering="true">
                                <ComboBoxFieldSettings Value="Id" Text="DiscountPercentage"></ComboBoxFieldSettings>
                                <ComboBoxEvents TValue="int" Filtering="@OnSfComboBoxPromotionFiltering" TItem="Promotion"></ComboBoxEvents>
                                    <ComboBoxTemplates TItem="Promotion">
                                        <NoRecordsTemplate>
                                            <div>
                                                <div id="nodata">Promotion inconnue, voulez vous la créer ?</div>
                                                <SfButton id="btn" class="e-control e-btn" style="margin-top: 10px" @onclick="@CreateNewPromotion">Créer</SfButton>
                                            </div>
                                        </NoRecordsTemplate>
                                    </ComboBoxTemplates>
                            </SfComboBox>
                        
                            <button @onclick="HandlePromotionSubmit">Ajouter la promotion</button>
                        </div>
                    </Content>
                </DialogTemplates>
            </SfDialog>

        </div>
    }
</div>