@page "/"
@inherits HomeBase

<PageTitle>Mercadona</PageTitle>

<h1>
    <img class="app-logo" src="mercadonaLogo.png" alt="mercadona_logo.png image"/>
</h1>

<h2>Products</h2>

<div>
    <input type="number" placeholder="CategoryId" @bind="@NewProduct.CategoryId"/>
    <input type="text" placeholder="Name" @bind="@NewProduct.Name"/>
    <input type="text" placeholder="Description" @bind="@NewProduct.Description"/>
    <input type="number" placeholder="Price" @bind="@NewProduct.Price"/>
    <InputFile OnChange="HandleFileSelect"/>
    <button @onclick="HandleSubmit">Add Product</button>
</div>

<div class="products-container">
    @foreach (var product in Products)
    {
        <div class="product-card">

            @if (product.Image is not null)
            {
                <img class="product-image" src="@ImageDataUrl(product.Image)" alt="@product.Name image" width="300px"/>
            }
            else
            {
                <img class="product-image" src="null.png" alt="null image" width="300px"/>
            }

            <h3>@product.Name</h3>
            <p>@product.Description</p>
            <p>@product.CategoryId</p>
            <p>@product.Price</p>

        </div>
    }
</div>