@page "/"
@inherits CatalogBase

<PageTitle>Catalog</PageTitle>

<div>
    <h3>Products</h3>

    <!-- ... (le reste de votre code pour afficher les produits) -->

    @if (IsAuthenticated)  // N'affichez le bouton que si l'utilisateur est authentifié
        {
            <button @onclick="OpenModal">Add New Product</button>
        }
    
        <NewProductModal IsOpen="@isModalOpen" OnClose="CloseModal" OnSubmit="AddNewProduct" />
</div>

<div>
    <h3>Products</h3>

    @if (ProductsWithPromotions == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Promotions</th>
                @if (IsAuthenticated)  // Affichez l'en-tête "Action" seulement si l'utilisateur est authentifié
                {
                    <th>Action</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var productWithPromotions in ProductsWithPromotions)
            {
                <tr>
                    <td>@productWithPromotions.Product.Id</td>
                    <td>@productWithPromotions.Product.Name</td>
                    <td>@productWithPromotions.Product.Price</td>
                    <td>@string.Join(", ", productWithPromotions.Promotions.Select(p => p.DiscountPercentage))</td>
                    @if (IsAuthenticated)  // Affichez les contrôles d'action seulement si l'utilisateur est authentifié
                    {
                        <td>
                            <select @bind="newPromotionValues[productWithPromotions.Product.Id]">
                                <option value="0">-- Select a promotion --</option>
                                @foreach (var promotion in Promotions)
                                {
                                    <option value="@promotion.DiscountPercentage">@promotion.DiscountPercentage</option>
                                }
                            </select>
                            <input type="number" @bind="newPromotionValues[productWithPromotions.Product.Id]" />
                            <button @onclick="() => AddPromotion(productWithPromotions.Product.Id)">Add Promotion</button>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
    
    @if (IsAuthenticated)
        {
            /*<button @onclick="AddNewProduct">Add New Product</button>*/
        }
</div>