@page "/"
@inherits CatalogBase
@using StudiBloc3_Mercadona.WebApp.Components.Modal;
@using StudiBloc3_Mercadona.Model

<PageTitle>Catalog</PageTitle>

<div>
    <h2>Products</h2>

    @if (IsAuthenticated)
    {
        <button @onclick="OpenModal">Add New Product</button>
        <NewProductModal IsOpen="@isModalOpen" OnClose="CloseModal" OnSubmit="AddProduct"/>
    }

    <div class="product-container">
        @foreach (var fullProduct in FullProducts)
        {
            <div class="product-card">

                @if (fullProduct.Product.Image != null)
                {
                    <img class="product-image" src="@ImageDataUrl(fullProduct.Product.Image)" alt="@fullProduct.Product.Name image" width="300px"/>
                }
                
                <h3>@fullProduct.Product.Name</h3>
                <p>@fullProduct.Product.Description</p>
                <p>@fullProduct.DisplayPriceWithPromotion()</p>
                
                <EditableDropdown T="Product" Items="@Products" DisplayValue="@DisplayProductName" />
                
                @if (IsAuthenticated)
                {
                    <div>
                        <select @bind="newPromotionValues[fullProduct.Product.Id]">
                            <option value="0">-- Select a promotion --</option>

                            @* Add all promotions already exists to the select *@
                            @foreach (var promotion in Promotions)
                            {
                                <option value="@promotion.DiscountPercentage">@promotion.DiscountPercentage</option>
                            }
                        </select>

                        <input type="number" @bind="newPromotionValues[fullProduct.Product.Id]"/>

                        <button @onclick="() => AddPromotion(fullProduct.Product.Id)">Add Promotion</button>
                    </div>
                }
            </div>
        }
    </div>

    @* <table class="table"> *@
    @* *@
    @*     <thead> *@
    @*     <tr> *@
    @*         <th>Id</th> *@
    @*         <th>Name</th> *@
    @*         <th>Price</th> *@
    @*         <th>Promotions</th> *@
    @*         @if (IsAuthenticated) *@
    @*         { *@
    @*             <th>Action</th> *@
    @*         } *@
    @*     </tr> *@
    @*     </thead> *@
    @* *@
    @*     <tbody> *@
    @* *@
    @*     @foreach (var completeProduct in CompleteProducts) *@
    @*     { *@
    @*         <tr> *@
    @*             <td>@completeProduct.Product.Id</td> *@
    @*             <td>@completeProduct.Product.Name</td> *@
    @*             <td>@completeProduct.Product.Price</td> *@
    @*             <td>@string.Join(", ", completeProduct.Promotions.Select(p => p.DiscountPercentage))</td> *@
    @*             @if (IsAuthenticated) *@
    @*             { *@
    @*                 <td> *@
    @*                     <select @bind="newPromotionValues[completeProduct.Product.Id]"> *@
    @*                         <option value="0">-- Select a promotion --</option> *@
    @* *@
    @*                         $1$ Add all promotions already exists to the select #1# *@
    @*                         @foreach (var promotion in Promotions) *@
    @*                         { *@
    @*                             <option value="@promotion.DiscountPercentage">@promotion.DiscountPercentage</option> *@
    @*                         } *@
    @*                     </select> *@
    @* *@
    @*                     <input type="number" @bind="newPromotionValues[completeProduct.Product.Id]"/> *@
    @* *@
    @*                     <button @onclick="() => AddPromotion(completeProduct.Product.Id)">Add Promotion</button> *@
    @*                 </td> *@
    @*             } *@
    @*         </tr> *@
    @*     } *@
    @* *@
    @*     </tbody> *@
    @* </table> *@
</div>