@page "/"
@inherits HomeBase

<PageTitle>Mercadona</PageTitle>

<h1>
    <img class="app-logo" src="mercadonaLogo.png" alt="mercadona_logo.png image"/>
</h1>

<h2>Products</h2>

<EditForm Model="@product" OnValidSubmit="HandleValidSubmit" FormName="ProductForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Name">Nom:</label>
        <InputText id="Name" class="form-control" @bind-Value="@product.Name" />
    </div>

    <div class="form-group">
        <label for="Description">Description:</label>
        <InputTextArea id="Description" class="form-control" @bind-Value="@product.Description" />
    </div>

    <div class="form-group">
        <label for="Price">Prix:</label>
        <InputNumber id="Price" class="form-control" @bind-Value="@product.Price" />
    </div>

    <div class="form-group">
        <label for="CategoryId">Catégorie ID:</label>
        <InputNumber id="CategoryId" class="form-control" @bind-Value="@product.CategoryId" />
    </div>

    <div class="form-group">
        <label for="Image">Image (optionnel):</label>
        <InputFile id="Image" OnChange="HandleFileSelect" />
    </div>

    <button type="submit" class="btn btn-success">Ajouter le produit</button>
</EditForm>

<div class="products-container">
    @foreach (var product in Products)
    {
        <div class="product-card">

            @if (product.Image is not null)
            {
                <img class="product-image" src="@ImageDataUrl(product.Image)" alt="@product.Name image" width="300px"/>
            }
            else
            {
                <img class="product-image" src="null.png" alt="null image" width="300px"/>
            }

            <h3>@product.Name</h3>
            <p>@product.Description</p>
            <p>@product.CategoryId</p>
            <p>@product.Price</p>
            
        </div>
    }
</div>